.todo-item {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  .todo-completed {
    .ant-card-head-title {
      text-decoration: line-through;
    }
  }

  .completed-text {
    margin-left: 15px;
  }
}