.todo-item {
  position: relative;
  margin-bottom: 24px;

  &__edit {
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 1;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .todo-completed {
    .ant-card-head-title {
      text-decoration: line-through;
    }
  }

  .completed-text {
    margin-left: 15px;
  }

  .ant-btn-dangerous {
    margin-left: 16px;
  }
}