.profile-bar {
  &__image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    margin: 0 15px;
  }

  &__logout {
    svg {
      margin-left: 8px;
    }
  }
}