.header {
  padding: 0;

  * {
    color: #FFF;
  }

  &-title {
    font-family: 'Righteous', cursive;
    font-size: 30px;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &-right-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}